<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            <h1>Bantuan apa yang anda butuhkan?</h1>
            <p>{{teksBantuan}}</p>
            <p>Dikembangkan oleh {{nama}}</p>
        </body>
    </head>
</html>